<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EduTrack Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light d-flex align-items-center justify-content-center vh-100">

  <div class="card shadow p-4" style="width: 25rem;">
    <h4 class="text-center mb-3">EduTrack System Login</h4>
    
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    
    <form action="/login" method="POST">
      <div class="mb-3">
        <label>username</label>
        <input type="username" class="form-control" name="username" required>
      </div>

      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" name="password" required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
  </div>

</body>
</html>
